# Ignorar arquivos de compilação no backend
/backend/target/
/backend/.mvn/wrapper/maven-wrapper.jar
!/backend/src/main/**/target/
!/backend/src/test/**/target/

# Ignorar arquivos de configuração do Spring Tool Suite (STS)
.backend/.apt_generated
.backend/.classpath
.backend/.factorypath
.backend/.project
.backend/.settings
.backend/.springBeans
.backend/.sts4-cache

# Ignorar arquivos do IntelliJ IDEA para o backend
/backend/.idea
/backend/*.iws
/backend/*.iml
/backend/*.ipr

# Ignorar arquivos do NetBeans para o backend
/backend/nbproject/private/
/backend/nbbuild/
/backend/dist/
/backend/nbdist/
/backend/.nb-gradle/
/backend/build/
/backend!**/src/main/**/build/
/backend!**/src/test/**/build/

# Ignorar arquivos de configuração do VS Code para o backend
/backend/.vscode/

# Ignorar logs e arquivos temporários no backend
/backend/logs
/backend/*.log
/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*
/backend/pnpm-debug.log*
/backend/lerna-debug.log*
/backend/node_modules
/backend/dist
/backend/dist-ssr
/backend*.local

# Ignorar arquivos de editor (VS Code, IntelliJ, etc.) para o frontend
/frontend/.vscode/*
!/frontend/.vscode/extensions.json
/frontend/.idea
/frontend/.DS_Store
/frontend/*.suo
/frontend/*.ntvs*
/frontend/*.njsproj
/frontend/*.sln
/frontend/*.sw?

# Ignorar arquivos de configuração do Spring Tool Suite (STS) no frontend, caso necessário
/frontend/.apt_generated
/frontend/.classpath
/frontend/.factorypath
/frontend/.project
/frontend/.settings
/frontend/.springBeans
/frontend/.sts4-cache

# Ignorar arquivos de compilação no frontend
/frontend/target/
/frontend/node_modules
/frontend/dist
/frontend/dist-ssr
/frontend*.local
